* {
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  display: none;
}
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.home__word__card {
  background-color: white;

  width: 92%;
  max-width: 600px;

  margin-top: 14px;
  margin-bottom: 20px;
  padding: 12px;
  box-sizing: border-box;
}

.game__card {
  background-color: white;

  width: 92%;
  max-width: 600px;

  margin-top: 14px;
  padding: 12px;
  box-sizing: border-box;
}

.generic__border {
  border: 2px solid #133266;
  border-bottom: 4px solid #133266;
  border-radius: 8px;
}
